body{
    background-color: bisque;
}
p{
    text-indent: 20px;
    width:500px;
}
h1, h2{
    text-align: center;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
img{
    width:300px;
    height: auto;
}
h6{
    width:300px;
    text-align: center;
}
*{
    margin:0px;
}